<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Bank_Work</display-name>
  <welcome-file-list>
    <welcome-file>Login/Register.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Bankput</servlet-name>
    <servlet-class>Banking.Bankput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bankput</servlet-name>
    <url-pattern>/Bankput</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Previoustransact</servlet-name>
    <servlet-class>Transactiondone.Previoustransact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Previoustransact</servlet-name>
    <url-pattern>/Previoustransact</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Showaccdetails</servlet-name>
    <servlet-class>Transactiondone.Showaccdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showaccdetails</servlet-name>
    <url-pattern>/Showaccdetails</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>Open</servlet-name>
    <servlet-class>RegisterandLogin.Open</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Open</servlet-name>
    <url-pattern>/Open</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>RegisterandLogin.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>RegisterandLogin.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Alreadydo</servlet-name>
    <servlet-class>Banking.Alreadydo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alreadydo</servlet-name>
    <url-pattern>/Alreadydo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Makenewacc</servlet-name>
    <servlet-class>Banking.Makenewacc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Makenewacc</servlet-name>
    <url-pattern>/Makenewacc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Transact</servlet-name>
    <servlet-class>Transactiondone.Transact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transact</servlet-name>
    <url-pattern>/Transact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Selectchoice</servlet-name>
    <servlet-class>Banking.Selectchoice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Selectchoice</servlet-name>
    <url-pattern>/Selectchoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Move</servlet-name>
    <servlet-class>Transactiondone.Move</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Move</servlet-name>
    <url-pattern>/Move</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profilechange</servlet-name>
    <servlet-class>Changes.Profilechange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profilechange</servlet-name>
    <url-pattern>/Profilechange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Passchange</servlet-name>
    <servlet-class>Changes.Passchange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Passchange</servlet-name>
    <url-pattern>/Passchange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileSelection</servlet-name>
    <servlet-class>Changes.ProfileSelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileSelection</servlet-name>
    <url-pattern>/ProfileSelection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>
<!--  Msake sure all class name start with caps -->